.aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  bottom: 0;
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--shadow);
}

body {
  padding-right: 3rem;
  padding-left: calc(230px + (var(--space) * 2));
}

.menu {
  padding-top: 5rem;
  display: flex;
  list-style: none;
  flex-direction: column;
}

.menu__item {
  color: var(--text-color);
}

.menu_enlace {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: currentColor;
  text-decoration: none;
}

.menu_enlace:hover {
  opacity: 0.9;
  background-color: var(--hover);
}

.menu__item.active {
  position: relative;
  color: var(--primary-color);
}

.menu__item.active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--primary-color);
  width: calc(var(--space) - 2px);
  bottom: 0;
  border-top-right-radius: var(--space);
  border-bottom-right-radius: var(--space)
}


.header {
  margin: 1rem 0;
  padding: calc(var(--space) * 2);
  background-color: var(--bg-secondary);
  border: 1px solid var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
}

.header__right{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  body{
    padding: 10px;
    padding-bottom: 0;
    font-size: 14px;
  }
  .header{
    margin:  0;
    margin-bottom: 1rem;
  }
  .aside {
    all: unset;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-top: 1px solid var(--gray-100);
  }

  .menu {
    flex-direction: row;
    align-items: center;
    padding: 0;
  }

  .menu_enlace {
    padding: 8px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: 13px;
  }

.menu_enlace svg{
  width: 18px;
}
  .menu__item {
    flex: 1;
  }

  .menu__item.active::after {
    display: none;
  }

  .header__right{
    gap: 0.4rem;
  }
}